/* Não vamos mostrar menu hamburguer quando tiver no tamanho normal (Desktop) */
.hamburger {
    display: none;
}

#mostrar-menu {
    display: none;
}

/* <===Media Querie===> */
@media (max-width: 800px) {
  
  nav{
    max-width: 100%;
  }
  

   .limite-slider {
    margin-top: 9.49vh;
    max-width: 100%;
   }

    a.anchor {
    display: block;
    position: relative;
    top: -39vh;
    visibility: hidden;
}
    .hamburger {
        display: block;
        margin: 0.5em 3em;
        cursor: pointer;
    }

    ul {
        display: none;
    }

    li {
      display: block;
      border-left: none;
      border-bottom: ;
      text-align: center;
      border-bottom: 2px solid white;
    }

    .menu-mobile {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }


    input[type=checkbox]:checked+ul {
        display: block;
    }





}