/* <---Área dos hacks---> */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    /* Nesse caso, estamos zerando a margin e o padding. */
    margin: 0;
    padding: 0;
}

:root {
    --cor-principal: #d71d24;
    --cor-secundaria: #5a3021;
    --cor-fundo: #7b6c64;
}

a.anchor {
    display: block;
    position: relative;
    top: -24vh;
    visibility: hidden;
}

i {
    position: fixed;
    font-size: 2.8em;
    color: white;
    right: 8px;
    bottom: 4vh;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

/* <---Área do body---> */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-fundo);
    font-family: 'Comfortaa', cursive;
    /*font-family:arial,helvetica,sans-serif,verdana,'Open Sans'*/
}

.background {
    width: 80vw;
    background-color: white;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 1.5em;
    background-color: var(--cor-secundaria);
    color: white;
    font-family: 'Great Vibes', cursive;
}

/* <---Área do Header===> */
header {
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;




}

.logo {
    max-width: 7em;
    max-height: 7em;
    margin-left: 1em;
    filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, .8));
    animation-name: logo;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.logo:hover {
    transform: scale(1.2);
}

@keyframes logo {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);

    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);

    }

    100% {
        transform: scale(1);
    }

}

.container-social {
    max-width: 40vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5.5em;


}

.social {
    width: 2em;
    height: 2em;
    display: inline-block;
    margin-left: 0.8em;
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow(5px 4px 7px rgba(0, 0, 0, .4));
    transition-property: filter transform;
    transition-duration: 0.5s;



}



.social:hover {
    /*Sombra para svg */
    transform: scale(1.3);
    filter: drop-shadow(5px 4px 7px rgba(237, 45, 56, .8));

}


/* <---Área do Nav---> */

nav {
    overflow: hidden;
    position: fixed;
    width: 80vw;
    z-index: 10;
    min-height: 5vh;
    background: var(--cor-principal);




}

li {
    /* tira as "bolinhas" da nossa lista não-ordenada */
    list-style-type: none;
    /* altera o display, ou seja, a visualização em página do elemento. Nesse caso, colocamos elemento linha (inline) */
    display: inline;

    /* altera o tamanho da fonte */
    font-size: 1em;
    padding-right: 5px;
    padding-left: 5px;

    /* cria uma borda para o elemento. Nesse caso, borda esquerda (left) */
    border-right: 2px solid white;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.6em;
}

nav ul li:hover {
    background-color: gray;
    font-size: 1.2em;
}

/* <--Área do Slider--> */

.limite-slider {
    min-width: 80vw;
    min-height: 35vh;
    margin-top: 5px;
    
}

.slider {
    width: 100%;
    max-height: 500px;
}

/* <===Área dos produtos===> */



.container-doces {
    min-width: 80vw;
    display: flex;
    justify-content: space-around;
}

.div-hover {
    position: relative;
    max-width: 18.75em;
    max-height: 18.75em;
}

.doces {
    max-width: 18.75em;
    max-height: 18.75em;
}

.div-hover:hover .caixa-hover,
.div-hover:hover .caixa-hover-social {
    opacity: 1;
}

.caixa-hover {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;

}

.caixa-hover-social {
    display: none;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;

}


/* .doces:hover {
    transform: scale(1.2);
} */

/* <===Área dos Apps===> */

.apps {
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 100%;
}

.botao {
    max-width: 15em;
    max-height: 15em;
}


.botao:hover {
    transform: scale(1.2);
}


/* <===Área do contato===> */

.mensagem {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.direct {
    max-width: 5em;
    max-height: 5em;
}

.direct:hover {
    transform: scale(1.2);
}

/* <===Botão Voltar===> */
.voltar {
    margin-top: 2em;
    min-height: 5vh;
    background: #b86869;
    text-align: center;
}

.voltar p {
    color: black;
}

.caixa-hover-social h2 {
    font-size: 1.2rem
}

/* <===Área do Footer===> */

footer {

    height: 8vh;
    background: var(--cor-principal);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: white;
    font-size: 1.2em;



}

/* <=== Encomenda.html ===> */
.formulario {
    width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 1050px;
}

.formulario iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* <=== Menu mobile ===> */

@media (max-height: 770px) {
    header {
        min-height: 20vh;
    }
}

@media (max-width: 1150px) {
    .background {
        width: 100%;
    }

    .slider {
        width: 100%;
    }

    .mensagem {
        width: 100%;
    }

    nav {
        width: 100vw;
    }

    .formulario iframe {
        width: 100vw;
    }

    i {
        color: #e92c3c;
        bottom: 2vh;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;
        z-index: 100;
    }
}


@media (max-width: 850px) {
    a {
        font-size: 1.2em;
    }

    .logo {
        max-width: 19vw;
        max-height: 19vh;
        margin-left: 0.5em;
    }

    .limite-slider {
        width: 100vw;
        min-width: 0px;
    }

    .container-doces {
        flex-direction: column;
        align-items: center;
    }

    .apps {
        flex-direction: column;
        align-items: center;
    }

    .mensagem {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sem-margin {
        margin-bottom: 1em;
    }
}